__MACOSX
StudentTemplate
UE3
vorlage

1. Responsive WS24_25.pdf
01_OO_and_Modules.pdf
Beispiel.pdf
chat-bild.jpeg
chat-img.jpeg
Farben.ai
group-img.jpeg
styles.css
TO DO.docx
Website Erstellung.pdf
Übungsangabe.pdf